#clock-container{
    position: relative;
    border: 2px solid red;
    background: url('clock.png') no-repeat ;
    background-size: 100%;
    height: 40vw;
    margin: auto;
    width: 40vw;

}

#hour ,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
}
#hour{
    width: 1%;
    height: 25%;
    top: 24.9%;
    left: 49.5%;
    transform-origin: bottom;
    
   
    
}
#minute{
    width: 1%;
    height: 28%;
    top: 21.9%;
    left: 49.5%;
    background-color: rgb(193, 37, 37);
    transform-origin: bottom;
    
    
}
   
#second{
    width: 1%;
    height: 35%;
    top: 14.9%;
    left: 49.5%;
    transform-origin: bottom;
   
    background-color: rgb(66, 169, 242);
    
}
